<SETTINGS DEVICE="DOORPANEL" CATEGORY="EINSTELLUNGEN">

<ENTRY ID="AUDIO">
     <MAINVOLUME>76</MAINVOLUME>
     <MENUVOLUME>5</MENUVOLUME>
     <ALARMVOLUME>20</ALARMVOLUME>
</ENTRY>

<ENTRY ID="PFADE">
     <ZEITERFASSUNG>/mnt/sdcard/DoorPanel/zeiten.xml</ZEITERFASSUNG>
     <ERINNERUNGEN>/mnt/sdcard/DoorPanel/tasks.xml</ERINNERUNGEN>
</ENTRY>

</SETTINGS>
